a{
    text-decoration:none
}

a:link,th a:visited{
    color:#07b
}

.results th > a:hover,
a:hover{
    text-decoration:underline;
    color:#07B;
}

a:active{
    color:#e90
}
select[multiple] {
    padding: 1px 0
}
select[multiple] option {
    padding: 0 .5em 0 .3em
}
table {
    width: 100%;
    border-collapse: collapse
}
table.results {
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    font-size: 0.846em;
}
.results th {
    padding: .5em 1em .25em .25em;
    border-bottom: 1px solid #999;
    border-top: 0;
    white-space: nowrap;
    background-color: #fff
}
.results td {
    padding: .3em 1em .3em 3px;
    font-size: 1em;
}
.results tr.odd {
    background: #fff
}
.results tr.even {
    background: #e4eeff
}
.results .flagged {
    color: red
}
.results tr.empty td {
    text-align: center
}
#pkglist-about {
    margin-top: 1.5em
}
.pkglist-stats {
    font-size: .85em
}
#pkglist-results .pkglist-nav {
    float: right;
    margin-top: -2.2em
}
.pkglist-nav .prev {
    margin-right: 1em
}
.pkglist-nav .next {
    margin-right: 1em
}
.filter-criteria {
    margin-bottom: 1em
}
.filter-criteria h3 {
    font-size: 1em;
    margin-top: 0
}
.filter-criteria div {
    float: left;
    margin-right: 1.65em;
    font-size: .85em
}
.filter-criteria legend {
    display: none
}
.filter-criteria label {
    width: auto;
    display: block;
    font-weight: normal
}
#archdev-navbar {
    margin: 1.5em 0
}
#archdev-navbar ul {
    list-style: none;
    margin: -0.5em 0;
    padding: 0
}
#archdev-navbar li {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: .9em
}
#archdev-navbar li a {
    padding: 0 .5em;
    color: #07b
}